In [3]:
#Pandas is an open-source library in Python that is made.
#mainly for working with relational or labeled data both easily and intuitively. 
#It provides various data structures and operations for manipulating numerical data and time series.

import pandas as pd

df=pd.DataFrame() #Constructor call
print(df) # It will print empty dataframe

List=['Ram','Avik','Soumen', 'Amit', 'vivek',10, 10.50,'@Soumen']
df=pd.DataFrame(List)
print(List)

Empty DataFrame
Columns: []
Index: []
['Ram', 'Avik', 'Soumen', 'Amit', 'vivek', 10, 10.5, '@Soumen']

In [4]:
data = {
    'Fever': [80, 20, 10, 90], 
    'Cough': [70, 80, 25, 80],
    'Breadthing':[1,0,1,1],
    'Runny Nose':[1,1,1,1],
    'Class label':[1,0,0,1]
    
}

df=pd.DataFrame(data)
print(df)

   Fever  Cough  Breadthing  Runny Nose  Class label
0     80     70           1           1            1
1     20     80           0           1            0
2     10     25           1           1            0
3     90     80           1           1            1

In [5]:
df=pd.DataFrame(data, index=['ID-1', 'ID-2', 'ID-3', 'ID-4'])
print(df)

      Fever  Cough  Breadthing  Runny Nose  Class label
ID-1     80     70           1           1            1
ID-2     20     80           0           1            0
ID-3     10     25           1           1            0
ID-4     90     80           1           1            1

In [6]:
df

      Fever  Cough  Breadthing  Runny Nose  Class label
ID-1     80     70           1           1            1
ID-2     20     80           0           1            0
ID-3     10     25           1           1            0
ID-4     90     80           1           1            1

In [7]:
# Declare a list that is to be converted into a column ,Add new column to the existing df
Vomating = ['Yes', 'No', 'No', 'Yes']
df['Vomating'] = Vomating
print(df)

      Fever  Cough  Breadthing  Runny Nose  Class label Vomating
ID-1     80     70           1           1            1      Yes
ID-2     20     80           0           1            0       No
ID-3     10     25           1           1            0       No
ID-4     90     80           1           1            1      Yes

In [8]:
# Remove column name 'A'
df=df.drop(['Vomating'], axis=1)
# Inserting the column at the middle of the DataFrame
df

      Fever  Cough  Breadthing  Runny Nose  Class label
ID-1     80     70           1           1            1
ID-2     20     80           0           1            0
ID-3     10     25           1           1            0
ID-4     90     80           1           1            1

In [9]:
df.insert(loc = 2,
          column = 'Vomating_status',
          value = Vomating)
# show the dataframe
df

      Fever  Cough Vomating_status  Breadthing  Runny Nose  Class label
ID-1     80     70             Yes           1           1            1
ID-2     20     80              No           0           1            0
ID-3     10     25              No           1           1            0
ID-4     90     80             Yes           1           1            1

In [10]:
df.drop(['Vomating_status', 'Runny Nose'], axis=1)

      Fever  Cough  Breadthing  Class label
ID-1     80     70           1            1
ID-2     20     80           0            0
ID-3     10     25           1            0
ID-4     90     80           1            1

In [11]:
df

      Fever  Cough Vomating_status  Breadthing  Runny Nose  Class label
ID-1     80     70             Yes           1           1            1
ID-2     20     80              No           0           1            0
ID-3     10     25              No           1           1            0
ID-4     90     80             Yes           1           1            1

In [12]:
# Remove all columns between column index 1 to 3
df.drop(df.iloc[:, 1:4], inplace=True, axis=1)

In [13]:
df

      Fever  Runny Nose  Class label
ID-1     80           1            1
ID-2     20           1            0
ID-3     10           1            0
ID-4     90           1            1